.text-center
  h1.mb-5 About Financial Tracker
  p This is the social application where you can find and track stocks.
  p A powerful combination of social media and stock trading information, thats all you need :)

